.title {
  margin: 30px;
  font-family: sans-serif;
  text-align: center;
  color: #3399CC;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 14px;
}

#tooltip {
  position: absolute;
  width: 130px;
  padding: 5px;
  background-color: #dfdfdf;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}
