/* Main Title */
.title {
  margin: 20px auto 10px;
  font-family: sans-serif;
  text-align: center;
  color: #3399CC;
}

/* Axis */
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 14px;
}

/* Tooltip */
#tooltip {
  position: absolute;
  width: 130px;
  padding: 5px;
  background-color: #dfdfdf;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* Footer */
.createdBy {
  text-align: center;
  margin: 0;
}

.heartImage {
  vertical-align: bottom;
  width: 14px;
  margin-right: 5px;
}

.nameLink {
  color: #3399CC;
  font-weight: bold;
}
